chain_name: corsika_snowstorm_prompt_v1_9_1
n_events_per_run: 100
n_runs: 10000

dataset_number: 30012
seed: 3

corsika_module: 'icecube.simprod.modules.Corsika5ComponentGenerator'
corsika_settings: {

    # things that are probably fine like this most of the time
    'corsikaVersion': '77420',
    'model': 'SIBYLL',
    'CutoffType': 'EnergyPerParticle',
    'oversampling': 1,
    'trimshower': True,
    'pnorm': [10., 5., 3., 2., 1.],
    'pgam': [1., 1., 1., 1., 1.],
    'UsePipe': True,
    
    'ecuts1': 273.,  # hadron min energy (see corsika docs)
    'ecuts2': 273.,  # muon min energy (see corsika docs)
    'ecuts3': 273.,  # electron min energy (see corsika docs)
    'ecuts4': 273.,  # photon min energy (see corsika docs)
    'CVMFS': '/cvmfs/icecube.opensciencegrid.org/users/pgutjahr/software/CORSIKA/',
    # things that should be defined by user:
    'polyplopia': True,
    'mctree_polyplopia': 'I3MCTree',
    'eprimarymin': !!float 1e8,
    'eprimarymax': !!float 1e9,
    'nuaddi': True,
}
muon_propagation_config : {}

UseGPUs: True

resources:
  # Indication which steps need GPUs, default is 0
  gpus:
    1: 1
  # Indication of needed memory for each step if nothing is set 1GB is assumed as default
  memory:
    0: 4gb
    1: 6gb
    2: 5gb
    3: 3gb
    4: 3gb
    5: 3gb
    12: 3gb
    13: 3gb
    14: 3gb
    15: 3gb
  # Indication of the walltime (in hours) for each step, if nothing is set the system default for dagman and 1h for pbs are assumed
  walltime:
  # Indication of the number of cores for each step, default is 1
  cpus: